{% extends "admin/base.html.twig" %}

{% block title "Réinitialisation de votre mot de passe" %}

{% block title_h1 "Réinitialiser votre mot de passe" %}

{% block body %}
    <div class="card shadow mt-3">
        <div class="card-header d-flex align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Réinitialisation du mot de passe</h5>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                
                {{ block("password", "admin/profile/_form.html.twig") }}

                {{ block("submit", "admin/profile/_form.html.twig") }}

            {{ form_end(form, {"render_rest": false}) }}
        </div>
    </div>

    
{% endblock %}
